.stage{
	-fx-border-width: 0;
	-fx-background-image: url("./img/back2.jpg")
}
.top{
	-fx-border-width: 0;
	-fx-min-width:800;
	-fx-background-color: #019386;
}

.user{
	-fx-border-width: 0;
	-fx-background-color: #f1f1f1;
}

.conversas {
	-fx-fill: #fff;
	-fx-background-color:#fff;
}

/**/
.chats{
	-fx-background: #ffffff;
	-fx-background-color:#ffffff;
}

/*Mensagens*/
.messages__container{
	-fx-background: #e6dedb;
	-fx-background-color:#e6dedb;
}

.messages__image{
	-fx-border-radius:100;
	-fx-background-size: 50;
	-fx-max-width:50;
	-fx-max-height:50;
	-fx-background-radius:50;
	-fx-border-radius:50;
	-fx-border-color:#eeeeee;
	-fx-fill: url('./img/foto.jpg');
}

.messages__top{
-fx-background-color: #eeeeee;
}

.messages__name{
-fx-background-color: #eeeeee;
}.messages__name{
-fx-background-color: #a7a7a7;
}


/* Container para escrever e enviar mensagens*/
.write__container{
	-fx-background-color: #e8e7e5;
}

.write__send{
	-fx-background-color: transparent;
	-fx-background-size: 50;
	-fx-background-image: url(./img/send-msg-2.png);
}

.write__text{
	-fx-background-color: #f0f0f0
}

.mensagem-left{
    -fx-background: transparent;
    -fx-background-color: 
        transparent, 
        transparent, 
        transparent, 
        #dcf8c5;
    -fx-background-insets: 0 0 -10 0, 0, 1, 2;
    -fx-min-height: 50;
    -fx-background-radius: 30px, 30px, 200px, 3px;
    -fx-max-width: 300;
}

.mensagem-right{
    -fx-background: transparent;
    -fx-background-color: 
        transparent, 
        transparent, 
        transparent, 
        #ffffff;
    -fx-background-insets: 0 0 -10 0, 0, 1, 2;
    -fx-min-height: 50;
    -fx-background-radius: 30px, 30px, 200px, 3px;
    -fx-max-width: 300;
}

.mensagem-container{
    
    -fx-padding: 10;
}